init.sh
data/train/*
!data/train/README-v1.md
data/val/*
!data/val/scripts/*
!data/val/README-v2.md

logs/*

model/prediction/*
!model/prediction/val/.gitkeep


retriever/faiss_db
retriever/*.json
retriever/*.jsonl
!retriever/sample_wiki_corpus.jsonl

*.bz2
*.csv
*.index

__pycache__/*
*/__pycache__/*
*.log
*.pyc