init.sh
data/train/*
!data/train/README-v1.md
data/val/*
!data/val/scripts
!data/val/README-v2.md

data/test/*
!data/test/README-v1.md
!data/test/scripts

logs/*

result/*

model/prediction/*
model/baseline-ckpt/*
!model/prediction/val/.gitkeep

retriever/*.json
retriever/*.jsonl
retriever/*.pkl
!retriever/sample_wiki_corpus.jsonl

scripts/sbatch_*.sh

*.bz2
*.csv
*.index

__pycache__/*
*/__pycache__/*
*.log
*.pyc