pandas
scipy
# scikit-learn
numpy<2,>=1.22.4
# transformers
vllm==0.6.4 # for FAVA
datasets<3.0.0
seqeval

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1

gguf>=0.10.0
sentencepiece
accelerate
bitsandbytes

langchain
langchain_community
langchain_huggingface
jq
wikiextractor==0.1
rank_bm25

# conda install -c pytorch -c nvidia faiss-gpu=1.8.0

nltk 
pyarabic # for Arabic language
jieba # for Chinese language
indic-nlp-library # for Indian languages
hazm # for Persian language