# pandas
# scipy<1.13.0
# scikit-learn
# numpy
# transformers

# --extra-index-url https://download.pytorch.org/whl/cu121
# torch==2.4.0


langchain
langchain_community
langchain_huggingface
jq
wikiextractor==0.1

python-dotenv

# conda install -c pytorch -c nvidia faiss-gpu=1.8.0