pandas
scipy<1.13.0
# scikit-learn
numpy
# transformers
vllm # for FAVA
datasets<3.0.0
seqeval

# --extra-index-url https://download.pytorch.org/whl/cu121
# torch==2.4.0

gguf>=0.10.0
sentencepiece
accelerate

langchain
langchain_community
langchain_huggingface
jq
wikiextractor==0.1
rank_bm25

# conda install -c pytorch -c nvidia faiss-gpu=1.8.0